
<div class="container-fluid py-5 ml-5" *ngIf="card">
  <h3>Dettagli prodotto</h3>
  <div class="card d-flex flex-column justify-content-center border border-dark shadow p-3 mb-5 bg-body">
    <div class="d-flex flex-row justify-content-around">
      <div class="pic pt-5">
        <img src={{card.img}} style="width: 180px;" class="card-img-top" alt="...">
      </div>
      <div class="general-details">
        <h1 class="card-title">{{ card.title }}!</h1>
        <p class="card-exitYear">Anno di uscita:{{ card.exitYear}}</p>
        <p class="card-productHeight">Altezza:{{ card.productHeight}}</p>
        <p class="card-productWeight">Peso:{{ card.productWeight}}</p>
        <p class="card-itemsProduced">Pezzi prodotti:{{ card.itemsProduced}}</p>
      </div>
    </div>
      <div class="description p-3 pt-5">
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. Remaining essentially unchanged. It was popularised in the 1960s simply dummy text printing standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    <h5 class="p-3">Prezzo:{{ card.price }}€</h5>
    <div class="d-flex direction-row justify-content-between">
      <button (click)="buyCard(card)"class="btn btn-warning btn-sm rounded-pill p-1 pl-4 pr-4 m-4" style="color:black;">Acquista</button>
      <button (click)="deselect(card)" class="btn btn-danger btn-sm rounded-pill p-1 pl-4 pr-4 m-4" style="color:black;">Chiudi</button>
    </div>
  </div>
</div>


