
<div class="d-flex justify-content-between" style="padding:2rem;">
  <h1 class="ml-5 pl-5">Develhope Shop</h1>
  <button class="btn btn-primary">Carrello ({{ chart }})</button>
</div>

<div class="container d-flex flex-row justify-content-between align-items-center">

  <aside class="d-flex flex-column justify-content-around">
    <tprj-list-card [cards]="cards" (selected)="selectCard($event)"></tprj-list-card>
  </aside>
  <div *ngIf="viewDetails">
    <tprj-details (buy)="addToChart($event)" [card]="selectedCard" (delete)="deselectCard($event)"></tprj-details>
  </div>


  <div *ngIf="viewDetails === false" class="d-flex flex-column align-items-center">
    <p style="font-size:1.5rem;">Benvenuti nello shop di</p>
    <img src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg" style="width:40rem"alt="" >
    <p class="mt-5">Clicca sui dettagli del prodotto per visualizzare tutte le informazioni</p>
  </div>
</div>




<ng-template #noCards>
  <p>Benvenuti nello shop di</p>
  <img src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg" alt="">
  <p>Clicca sui dettagli del prodotto per visualizzare tutte le informazioni</p>
</ng-template>

